In [1]:
import pandas as pd

In [ ]:
customer_id = [1, 1, 1, 2, 5, 6, 7, 8, 8, 8, 11, 12, 13, 14, 14, 14, 14, 18, 19, 19, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 23, 28, 29, 40, 46, 78, 33, 66, 1, 1, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 12, 15, 15, 17, 18, 19, 19, 19, 2, 2, 4, 5, 5, 5, 5, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 23, 28, 29, 40, 46, 78, 33, 66, 26, 23, 28, 29, 40, 46, 78, 33, 66, 88, 16, 19, 20, 21, 22, 23, 24, 25, 26, 23, 28, 29, 40, 46, 78, 33, 66, 1, 1, 1, 2, 5, 6, 7, 8, 9, 10, 66, 26, 23, 28, 29, 40, 46, 78, 33, 66, 88, 16, 19, 20, 21, 8, 8, 8, 11, 12, 13, 14, 14, 14, 18, 18, 19, 19, 1, 2, 3]
store_id = [1, 1, 1, 4, 4, 6, 6, 10, 10, 10, 11, 12, 13, 14, 14, 14, 14, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 14, 15, 16, 15, 16, 17, 18, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 14, 15, 16, 15, 16, 17, 18, 15, 16, 15, 16, 17, 18, 14, 15, 16, 15, 16, 17, 18, 15, 16, 15, 16, 17, 18, 14, 15, 16, 15, 16, 17, 18, 15, 16, 15, 16, 17, 18, 14, 15, 16, 15, 16, 17, 18, 15, 16, 15, 16, 17, 18, 18, 18, 1, 1, 5, 6, 7, 7, 7, 10, 10, 12, 15, 15, 15, 15, 17, 18, 15, 16, 15, 16, 17, 18, 1, 1, 1, 4, 5, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 14, 15, 16, 15, 16, 16, 17, 18, 15, 16, 15, 16, 17, 18, 14, 15, 16, 15, 16, 17, 18, 15, 16, 15, 16, 17, 18, 14, 15, 16, 15, 8, 9, 10, 10, 11, 12, 13, 14, 15, 16, 15, 16, 16, 17, 18, 10, 10, 10, 11, 12, 13, 14, 14, 14, 18, 18, 19, 20, 1, 2, 3]
transaction_date = ['2017-01-06 00:00:00', '2017-01-06 00:00:00', '2017-01-06 00:00:00', '2017-05-06 00:00:00', '2017-05-06 00:00:00', '2016-02-03 00:00:00', '2018-09-09 00:00:00', '2017-06-11 00:00:00', '2017-06-11 00:00:00', '2017-06-11 00:00:00', '2017-12-01 00:00:00', '2017-12-01 00:00:00', '2017-05-05 00:00:00', '2017-08-10 00:00:00', '2017-08-10 00:00:00', '2017-08-10 00:00:00', '2017-08-10 00:00:00', '2020-01-01 00:00:00', '2017-01-07 00:00:00', '2017-02-07 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-04-07 00:00:00', '2017-05-09 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-04-07 00:00:00', '2017-05-09 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-04-07 00:00:00', '2017-05-09 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-04-07 00:00:00', '2017-05-09 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-01-06 00:00:00', '2017-01-06 00:00:00', '2017-01-06 00:00:00', '2017-05-06 00:00:00', '2017-05-06 00:00:00', '2016-02-03 00:00:00', '2018-09-09 00:00:00', '2017-06-11 00:00:00', '2017-06-11 00:00:00', '2017-06-11 00:00:00', '2017-12-01 00:00:00', '2017-12-01 00:00:00', '2017-05-05 00:00:00', '2017-08-10 00:00:00', '2017-08-10 00:00:00', '2017-08-10 00:00:00', '2017-08-10 00:00:00', '2020-01-01 00:00:00', '2017-01-07 00:00:00', '2017-02-07 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-04-07 00:00:00', '2017-05-09 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-04-07 00:00:00', '2017-05-09 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-04-07 00:00:00', '2017-05-09 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-04-07 00:00:00', '2017-05-09 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-06-10 00:00:00', '2017-06-10 00:00:00', '2017-06-10 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-01-01 00:00:00', '2017-02-02 00:00:00', '2017-03-06 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-06-10 00:00:00', '2017-07-12 00:00:00', '2017-08-13 00:00:00', '2017-09-14 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-10-16 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-12-19 00:00:00', '2017-12-19 00:00:00', '2017-03-06 00:00:00', '2017-11-17 00:00:00', '2017-12-19 00:00:00', '2017-06-10 00:00:00', '2017-06-10 00:00:00', '2017-06-10 00:00:00', '2017-06-10 00:00:00', '2017-06-10 00:00:00', '2017-12-01 00:00:00', '2017-12-01 00:00:00', '2017-12-01 00:00:00', '2017-12-01 00:00:00', '2017-12-01 00:00:00']
transaction_id = [1, 1, 1, 2, 5, 6, 7, 8, 8, 8, 11, 12, 13, 14, 14, 14, 14, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 106, 106, 109, 109, 111, 112, 113, 113, 113, 116, 116, 118, 119, 119, 119, 119, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 176, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 201, 201, 204, 205, 206, 207, 207, 207, 211, 211, 212, 213, 214, 215, 216]
product_id = [101, 102, 103, 105, 104, 106, 108, 107, 109, 110, 501, 502, 503, 505, 506, 507, 509, 510, 504, 508, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 901, 902, 903, 904, 905, 906, 907, 908, 909, 101, 102, 103, 105, 104, 106, 108, 107, 109, 110, 501, 502, 503, 505, 506, 501, 502, 503, 505, 506, 1110, 1111, 1112, 1113, 1201, 1202, 1203, 1204, 1205, 806, 807, 808, 809, 810, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 1001, 1002, 1003, 1004, 102, 103, 105, 104, 106, 108, 107, 109, 110, 501, 502, 503, 505, 506, 507, 509, 510, 504, 508, 508, 210, 606, 101, 102, 103, 105, 104, 106, 108, 107, 109, 110, 501, 502, 503, 505, 506, 507, 509, 510, 504, 508, 608, 609, 610, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 901, 902, 903, 904, 905, 906, 907, 908, 909, 101, 102, 103, 105, 104]
sales = [13, 5, 1, 20, 12, 3, 5, 2, 9, 10, 16, 15, 13, 15, 5, 500, 300, 30, 50, 22, 10, 16, 15, 13, 15, 5, 500, 300, 9, 10, 16, 15, 13, 15, 5, 500, 300, 30, 50, 22, 100, 36, 78, 99, 26, 265, 215, 98, 66, 34, 31, 89, 59, 70, 9, 13, 5, 1, 20, 12, 3, 5, 2, 9, 10, 16, 15, 13, 15, 5, 500, 300, 30, 50, 22, 10, 16, 15, 13, 15, 5, 500, 300, 9, 10, 16, 15, 13, 15, 5, 500, 300, 30, 50, 22, 100, 36, 78, 99, 26, 265, 215, 98, 66, 34, 31, 89, 59, 70, 9, 672, 96, 771, 18, 275, 76, 790, 157, 397, 422, 553, 717, 528, 347, 877, 73, 250, 201, 130, 507, 460, 332, 680, 831, 451, 601, 276, 695, 195, 41, 305, 836, 348, 378, 187, 703, 841, 7, 728, 309, 98, 250, 848, 308, 849, 397, 611, 202, 91, 54, 345, 241, 418, 448, 794, 82, 381, 260, 498, 646, 153, 83, 6, 29, 785, 820, 396, 760, 147, 343, 604, 107, 772, 393, 247, 670, 503, 437, 279, 199, 256, 155, 560, 877, 44, 202, 642, 520, 853, 413, 761, 71, 59, 798, 86, 640, 196, 73, 664, 761, 413, 333, 516, 485, 858, 204]
df1=pd.DataFrame({'customer_id':customer_id, 'store_id':store_id, 'transaction_id':transaction_id,'transaction_date':transaction_date ,'product_id':product_id, 'sales':sales})
df1

In [ ]:
store_id = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
store_brand = ['Clapham Junction', 'Camden', 'Fulham', 'Kensington', 'Piccadilly Circus', 'Stoke Newington', 'Richmond', '365 by WFM', 'Whole Foods Market Daily Shop', '365 by WFM', '365 by WFM', 'Whole Foods Market Daily Shop', 'Whole Foods Market Daily Shop', 'Whole Foods Market Daily Shop', '365 by WFM', 'Clapham Junction', 'Camden', 'Fulham', 'Fulham', 'Kensington']
location = ['London', 'London', 'London', 'London', 'London', 'London', 'London', 'Texas', 'New York', 'Los Angeles', 'Atlanta', 'Los Angeles', 'Atlanta', 'Texas', 'New York', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'Texas', 'New York']
df2=pd.DataFrame({'store_id':store_id, 'store_brand':store_brand, 'location':location})
df2

In [7]:
df3=pd.merge(df1,df2,on='store_id')
df3

,customer_id,store_id,transaction_id,transaction_date,product_id,sales,store_brand,location
0,1,1,1,2017-01-06 00:00:00,101,13,Clapham Junction,London
1,1,1,1,2017-01-06 00:00:00,102,5,Clapham Junction,London
2,1,1,1,2017-01-06 00:00:00,103,1,Clapham Junction,London
3,1,1,21,2017-01-01 00:00:00,401,10,Clapham Junction,London
4,15,1,109,2017-05-06 00:00:00,506,70,Clapham Junction,London
...,...,...,...,...,...,...,...,...
211,20,17,161,2017-12-19 00:00:00,102,345,Camden,Los Angeles
212,26,17,167,2017-03-06 00:00:00,107,381,Camden,Los Angeles
213,33,17,174,2017-10-16 00:00:00,506,29,Camden,Los Angeles
214,5,17,180,2017-09-14 00:00:00,608,343,Camden,Los Angeles
215,20,17,199,2017-10-16 00:00:00,807,853,Camden,Los Angeles

In [12]:
class Customer:
    def __init__(self,customer_id,):
        self.customer_id=customer_id
        self.stores={}
    def add(self,store_brand,sale):
        if store_brand not in self.stores:
            self.stores[store_brand]=[]
        self.stores[store_brand].append(sale)
    def toString(self):
        return str(self.customer_id)+str(self.stores)

In [ ]:
class Store:
    def __init__(self,store_name):
        self.store_name=store_name
        self.high={}
    def add(self,segment,)

In [14]:
customers={}
for _,row in df3.iterrows():
    if row.customer_id not in customers:
        customers[row.customer_id]=Customer(row.customer_id)
    customers[row.customer_id].add(row.store_brand,row.sales)
stores={}
for customer in customers.values():
    for store in customer.stores:
        if

Clapham Junction
Fulham
365 by WFM
Clapham Junction
Whole Foods Market Daily Shop
Camden
Clapham Junction
Piccadilly Circus
Clapham Junction
Stoke Newington
Fulham
365 by WFM
Camden
Clapham Junction
Fulham
Kensington
Richmond
Clapham Junction
365 by WFM
Fulham
Camden
Kensington
365 by WFM
Camden
Clapham Junction
Kensington
Piccadilly Circus
365 by WFM
Camden
Kensington
Whole Foods Market Daily Shop
Clapham Junction
Kensington
Whole Foods Market Daily Shop
Camden
Kensington
Whole Foods Market Daily Shop
Clapham Junction
Stoke Newington
Fulham
Stoke Newington
Whole Foods Market Daily Shop
Richmond
365 by WFM
Stoke Newington
Whole Foods Market Daily Shop
Clapham Junction
365 by WFM
Clapham Junction
365 by WFM
Fulham
Clapham Junction
365 by WFM
Clapham Junction
Camden
365 by WFM
Whole Foods Market Daily Shop
Camden
365 by WFM
Whole Foods Market Daily Shop
Fulham
Clapham Junction
Camden
365 by WFM
Fulham
Whole Foods Market Daily Shop
Fulham
365 by WFM
Whole Foods Market Daily Shop
365 by WFM
Clapham Junction
Whole Foods Market Daily Shop
Piccadilly Circus
365 by WFM
Fulham
Piccadilly Circus
Fulham
365 by WFM
Clapham Junction
Fulham
365 by WFM
Clapham Junction
Fulham
365 by WFM
Fulham
Clapham Junction
Kensington
Whole Foods Market Daily Shop
Camden
Fulham
365 by WFM
Richmond
365 by WFM
Camden
Whole Foods Market Daily Shop
365 by WFM
Clapham Junction
Camden
365 by WFM
Clapham Junction
365 by WFM