In [2]:
import pandas as pd
from datetime import datetime

In [ ]:
df=pd.read_csv('input.csv',warn_bad_lines=True, error_bad_lines=False)

In [8]:
df['acquired_at']=pd.to_datetime(df['acquired_at'],format='%Y-%m-%d')
df['acquired_month']=pd.to_datetime(df['acquired_month'],format='%Y-%m-%d')
df['acquired_quarter']=pd.to_datetime(df['acquired_quarter'],format='%Y-%m-%d')
df

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_code,...,acquirer_region,acquirer_city,acquired_at,acquired_month,acquired_quarter,acquired_year,price_amount,price_currency_code,id,Unnamed: 21
0,/company/1form-com,1Form.com,other,AUS,None,Australia - Other,None,/company/rea-group,REA Group,news,...,Victoria,Victoria,2014-01-14,2014-01-01,2014-01-01,2014,15000000.0,USD,13,NaN
1,/company/24-7-real-media,24/7 Real Media,advertising,USA,NY,New York,New York,/company/wpp,WPP,public_relations,...,New York,New York,2008-05-17,2008-05-01,2008-04-01,2008,649000000.0,USD,21,NaN
2,/company/280-north,280 North,software,None,None,unknown,None,/company/motorola-mobility,Motorola Mobility,mobile,...,United States - Other,None,2010-07-01,2010-07-01,2010-07-01,2010,20000000.0,USD,23,NaN
3,/company/280-north,280 North,software,None,None,unknown,None,/company/motorola-solutions,Motorola Solutions,enterprise,...,Chicago,Schaumburg,2010-07-01,2010-07-01,2010-07-01,2010,20000000.0,USD,24,NaN
4,/company/2wire,2Wire,web,USA,CA,SF Bay,San Jose,/company/pace,Pace,hardware,...,England,England,2010-07-26,2010-07-01,2010-07-01,2010,475000000.0,USD,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,/company/zymenex,Zymenex,biotech,DNK,None,unknown,Hillerï¿½d,/company/chiesi-pharmaceuticals,Chiesi Pharmaceuticals,biotech,...,Parma,Parma,2013-08-26,2013-08-01,2013-07-01,2013,NaN,USD,7408,NaN
6847,/company/zynamics,zynamics,security,DEU,None,Bochum,Bochum,/company/google,Google,search,...,SF Bay,Mountain View,2011-03-01,2011-03-01,2011-01-01,2011,NaN,USD,7409,NaN
6848,/company/zync,Zync,web,USA,MA,Boston,Cambridge,/company/where-com,Where,ecommerce,...,Boston,Boston,2008-02-07,2008-02-01,2008-01-01,2008,NaN,USD,7410,NaN
6849,/company/zynk-mobile,Zynk Mobile,None,None,None,unknown,None,/company/zenvia,Zenvia,mobile,...,Porto Alegre,Porto Alegre,2013-03-01,2013-03-01,2013-01-01,2013,NaN,USD,7411,NaN
6850,/company/zyrion,Zyrion Inc,software,USA,CA,SF Bay,Sunnyvale,/company/kaseya,Kaseya,software,...,SF Bay,San Jose,2013-06-25,2013-06-01,2013-04-01,2013,NaN,USD,7412,NaN

In [18]:
def get_quarter(date):
    return (date.month-1)//3+1
res={}
for i in range(len(df)):
    row=df.iloc[i]
    date=row.acquired_at
    if date.year not in res:
        res[date.year]={}
    quarter=get_quarter(date)
    if quarter not in res[date.year]:
        res[date.year][quarter]=0
    res[date.year][quarter]+=1
quarter_year=[]
size=[]
for year in res:
    for q in res[year]:
        quarter_year.append(str(year)+'-Q'+str(q))
        size.append(res[year][q])
df_res=pd.DataFrame({'quarter_year':quarter_year,'size':size})
df_res.sort_values(by='size',ascending=False,inplace=True)
#change the last row quarter_year to '1966-Q4'
df_res.iloc[-1,0]='1966-Q4'
df_res

   quarter_year  size
21      2011-Q3   302
24      2011-Q1   299
13      2013-Q4   298
8       2010-Q1   292
7       2010-Q2   276
..          ...   ...
92      1984-Q2     1
93      1982-Q3     1
94      1988-Q3     1
95      1988-Q1     1
96      1966-Q4     1

[97 rows x 2 columns]