In [1]:
import pandas as pd
search_id =[1, 2, 2, 3, 3, 5, 6, 10, 11, 14, 14, 17, 18, 38, 40, 40, 50, 51, 51, 41, 42, 42, 43, 44, 44, 52, 53, 56, 57, 57, 59, 60, 63, 63, 65, 68, 68, 69, 70, 74, 76, 77, 80, 81, 82, 83, 84, 85, 87, 90, 91, 92, 93, 93, 93, 96, 96, 97, 97, 97, 99, 120, 123, 182, 321, 331, 368, 649, 670, 696, 720, 738, 739, 857, 953]
search_term =['rabbit', 'airline', 'quality', 'hotel', 'scandal', 'rabbit', 'politics', 'rabbit', 'physical', 'rabbit', 'cat', 'dog', 'dog', 'dog', 'approach', 'national', 'rabbit', 'dog', 'week', 'law', 'cat', 'rabbit', 'church', 'station', 'hotel', 'cat', 'cat', 'dog', 'cat', 'dog', 'rabbit', 'cat', 'rabbit', 'cat', 'rabbit', 'rabbit', 'cat', 'educaiton', 'cat', 'dog', 'cat', 'rabbit', 'career', 'rabbit', 'rabbit', 'cat', 'dog', 'boy', 'rabbit', 'dog', 'cat', 'cat', 'cat', 'rabbit', 'cat', 'dog', 'dog', 'dog', 'rabbit', 'dog', 'dog', 'rabbit', 'cat', 'education', 'summer', 'national', 'rabbit', 'cat', 'cat', 'employee', 'police', 'sister', 'dog', 'cat', 'fire']
clicked =[1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1]
search_results_position =[5, 4, 5, 1, 4, 1, 2, 4, 5, 3, 3, 5, 3, 2, 5, 2, 1, 5, 5, 1, 4, 4, 4, 5, 4, 2, 1, 2, 2, 1, 5, 5, 3, 2, 3, 3, 1, 3, 5, 3, 2, 5, 2, 1, 4, 5, 3, 3, 3, 1, 5, 4, 5, 3, 1, 3, 3, 1, 2, 4, 2, 1, 1, 1, 1, 5, 1, 5, 4, 4, 1, 2, 2, 4, 5]
df=pd.DataFrame({'search_id':search_id,'search_term':search_term,'clicked':clicked,'search_results_position':search_results_position})

In [6]:
rating={}
for i in range(len(df)):
    row=df.iloc[i]
    r=0
    if row['clicked']==1:
        if row['search_results_position']<=3:
            r=3
        else:
            r=2
    else:
        r=1
    if row['search_id'] not in rating:
        rating[row['search_id']]=r
    else:
        if rating[row['search_id']]<r:
            rating[row['search_id']]=r
res=pd.DataFrame({'search_id':rating.keys(),'ratings':rating.values()})
res

    search_id  ratings
0           1        2
1           2        2
2           3        3
3           5        3
4           6        3
5          10        1
6          11        1
7          14        3
8          17        1
9          18        3
10         38        1
11         40        2
12         50        1
13         51        2
14         41        1
15         42        2
16         43        1
17         44        2
18         52        3
19         53        3
20         56        1
21         57        3
22         59        1
23         60        1
24         63        3
25         65        1
26         68        3
27         69        3
28         70        2
29         74        1
30         76        3
31         77        2
32         80        1
33         81        1
34         82        2
35         83        2
36         84        3
37         85        1
38         87        1
39         90        3
40         91        2
41         92        1
42         93        2
43         96        1
44         97        3
45         99        3
46        120        3
47        123        3
48        182        1
49        321        1
50        331        2
51        368        3
52        649        1
53        670        2
54        696        1
55        720        3
56        738        3
57        739        1
58        857        1
59        953        2