In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [62]:
signup_id = [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]
signup_start_date = ['2020-04-23 00:00:00', '2020-04-09 00:00:00', '2020-04-21 00:00:00', '2020-04-04 00:00:00', '2020-04-24 00:00:00', '2020-04-14 00:00:00', '2020-04-10 00:00:00', '2020-04-07 00:00:00', '2020-04-21 00:00:00', '2020-04-11 00:00:00', '2020-04-15 00:00:00', '2020-04-04 00:00:00', '2020-04-15 00:00:00', '2020-04-22 00:00:00', '2020-04-20 00:00:00', '2020-04-28 00:00:00', '2020-04-17 00:00:00', '2020-04-22 00:00:00', '2020-04-04 00:00:00', '2020-04-21 00:00:00', '2020-04-10 00:00:00', '2020-04-22 00:00:00', '2020-04-13 00:00:00', '2020-04-13 00:00:00', '2020-04-18 00:00:00', '2020-04-16 00:00:00', '2020-04-21 00:00:00', '2020-04-24 00:00:00', '2020-04-27 00:00:00', '2020-04-04 00:00:00', '2020-04-07 00:00:00', '2020-04-22 00:00:00', '2020-04-06 00:00:00', '2020-04-15 00:00:00', '2020-04-29 00:00:00', '2020-04-18 00:00:00', '2020-04-28 00:00:00', '2020-04-15 00:00:00', '2020-04-24 00:00:00', '2020-04-28 00:00:00', '2020-04-17 00:00:00', '2020-04-27 00:00:00', '2020-04-09 00:00:00', '2020-04-29 00:00:00', '2020-04-13 00:00:00', '2020-04-29 00:00:00', '2020-04-25 00:00:00', '2020-04-24 00:00:00', '2020-04-29 00:00:00', '2020-04-28 00:00:00']

signup_stop_date = ['2020-05-19 00:00:00', '2020-07-06 00:00:00', '2020-10-08 00:00:00', '2020-06-19 00:00:00', '2020-06-28 00:00:00', '2020-07-15 00:00:00', '2020-07-29 00:00:00', '2020-08-26 00:00:00', '2020-05-31 00:00:00', '2020-09-17 00:00:00', '2020-05-08 00:00:00', '2020-09-03 00:00:00', '2020-08-31 00:00:00', '2020-06-29 00:00:00', '2020-06-21 00:00:00', '2020-09-25 00:00:00', '2020-09-26 00:00:00', '2020-06-30 00:00:00', '2020-05-28 00:00:00', '2020-08-13 00:00:00', '2020-05-16 00:00:00', '2020-08-13 00:00:00', '2020-06-12 00:00:00', '2020-10-09 00:00:00', '2020-06-03 00:00:00', '2020-06-15 00:00:00', '2020-07-25 00:00:00', '2020-09-22 00:00:00', '2020-08-03 00:00:00', '2020-04-30 00:00:00', '2020-08-14 00:00:00', '2020-06-22 00:00:00', '2020-09-19 00:00:00', '2020-06-13 00:00:00', '2020-05-28 00:00:00', '2020-10-04 00:00:00', '2020-06-22 00:00:00', '2020-07-13 00:00:00', '2020-10-02 00:00:00', '2020-10-06 00:00:00', '2020-09-10 00:00:00', '2020-09-29 00:00:00', '2020-06-24 00:00:00', '2020-10-16 00:00:00', '2020-06-21 00:00:00', '2020-07-15 00:00:00', '2020-06-21 00:00:00', '2020-08-18 00:00:00', '2020-10-07 00:00:00', '2020-09-23 00:00:00']
temp1=[]
temp2=[]
for i in range(len(signup_start_date)):
    temp1.append(datetime.strptime(signup_start_date[i], '%Y-%m-%d %H:%M:%S'))
    temp2.append(datetime.strptime(signup_stop_date[i], '%Y-%m-%d %H:%M:%S'))
signup_start_date=temp1
signup_stop_date=temp2
dur=[]

for i in range(len(signup_start_date)):
    dur.append((signup_stop_date[i]-signup_start_date[i]).days)

plan_id = [11, 11, 10, 11, 21, 20, 22, 12, 10, 21, 11, 12, 20, 22, 11, 21, 11, 22, 12, 11, 11, 22, 20, 10, 11, 10, 21, 21, 20, 12, 22, 11, 10, 20, 21, 21, 11, 20, 11, 21, 11, 10, 11, 21, 12, 11, 12, 21, 20, 12]
location = ['Rio De Janeiro', 'Mexico City', 'Mendoza', 'Rio De Janeiro', 'Las Vegas', 'Rio De Janeiro', 'Mexico City', 'Mexico City', 'New Jersey', 'Mendoza', 'Houston', 'New Jersey', 'New York', 'Las Vegas', 'Houston', 'Luxembourg', 'Las Vegas', 'New Jersey', 'Rio De Janeiro', 'New York', 'Luxembourg', 'Mexico City', 'Houston', 'Luxembourg', 'New York', 'Las Vegas', 'Rio De Janeiro', 'Mendoza', 'Houston', 'Mendoza', 'Mexico City', 'Mendoza', 'Las Vegas', 'Houston', 'New York', 'New Jersey', 'Las Vegas', 'Las Vegas', 'New Jersey', 'Houston', 'Houston', 'New Jersey', 'Luxembourg', 'New York', 'Las Vegas', 'Luxembourg', 'Houston', 'Las Vegas', 'Mexico City', 'Rio De Janeiro']
df1=pd.DataFrame({'signup_id':signup_id,'signup_start_date':signup_start_date,'signup_stop_date':signup_stop_date,'plan_id':plan_id,'location':location})

transaction_id = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
signup_id = [100, 101, 102, 102, 102, 102, 102, 102, 103, 104, 105, 105, 105, 106, 107, 108, 108, 109, 109, 110, 111, 112, 112, 112, 112, 112, 113, 114, 115, 115, 116, 116, 117, 118, 119, 119, 120, 121, 122, 122, 123, 123, 123, 123, 123, 123, 124, 125, 125, 126, 127, 127, 128, 128, 128, 128, 129, 130, 131, 132, 132, 132, 132, 132, 132, 133, 133, 134, 135, 135, 136, 137, 137, 137, 138, 138, 139, 139, 140, 140, 141, 141, 141, 141, 141, 142, 143, 143, 144, 145, 146, 147, 147, 148, 148, 148, 148, 148, 148, 149]
transaction_start_date =['2020-04-30 00:00:00', '2020-04-16 00:00:00', '2020-04-28 00:00:00', '2020-05-28 00:00:00', '2020-06-27 00:00:00', '2020-07-27 00:00:00', '2020-08-26 00:00:00', '2020-09-25 00:00:00', '2020-04-11 00:00:00', '2020-05-01 00:00:00', '2020-04-21 00:00:00', '2020-05-21 00:00:00', '2020-06-20 00:00:00', '2020-04-17 00:00:00', '2020-04-14 00:00:00', '2020-04-28 00:00:00', '2020-05-28 00:00:00', '2020-04-18 00:00:00', '2020-07-17 00:00:00', '2020-04-22 00:00:00', '2020-04-11 00:00:00', '2020-04-22 00:00:00', '2020-05-22 00:00:00', '2020-06-21 00:00:00', '2020-07-21 00:00:00', '2020-08-20 00:00:00', '2020-04-29 00:00:00', '2020-04-27 00:00:00', '2020-05-05 00:00:00', '2020-08-03 00:00:00', '2020-04-24 00:00:00', '2020-07-23 00:00:00', '2020-04-29 00:00:00', '2020-04-11 00:00:00', '2020-04-28 00:00:00', '2020-07-27 00:00:00', '2020-04-17 00:00:00', '2020-04-29 00:00:00', '2020-04-20 00:00:00', '2020-05-20 00:00:00', '2020-04-20 00:00:00', '2020-05-20 00:00:00', '2020-06-19 00:00:00', '2020-07-19 00:00:00', '2020-08-18 00:00:00', '2020-09-17 00:00:00', '2020-04-25 00:00:00', '2020-04-23 00:00:00', '2020-05-23 00:00:00', '2020-04-28 00:00:00', '2020-05-01 00:00:00', '2020-07-30 00:00:00', '2020-05-04 00:00:00', '2020-06-03 00:00:00', '2020-07-03 00:00:00', '2020-08-02 00:00:00', '2020-04-11 00:00:00', '2020-04-14 00:00:00', '2020-04-29 00:00:00', '2020-04-13 00:00:00', '2020-05-13 00:00:00', '2020-06-12 00:00:00', '2020-07-12 00:00:00', '2020-08-11 00:00:00', '2020-09-10 00:00:00', '2020-04-22 00:00:00', '2020-05-22 00:00:00', '2020-05-06 00:00:00', '2020-04-25 00:00:00', '2020-07-24 00:00:00', '2020-05-05 00:00:00', '2020-04-22 00:00:00', '2020-05-22 00:00:00', '2020-06-21 00:00:00', '2020-05-01 00:00:00', '2020-07-30 00:00:00', '2020-05-05 00:00:00', '2020-08-03 00:00:00', '2020-04-24 00:00:00', '2020-07-23 00:00:00', '2020-05-04 00:00:00', '2020-06-03 00:00:00', '2020-07-03 00:00:00', '2020-08-02 00:00:00', '2020-09-01 00:00:00', '2020-04-16 00:00:00', '2020-05-06 00:00:00', '2020-08-04 00:00:00', '2020-04-20 00:00:00', '2020-05-06 00:00:00', '2020-05-02 00:00:00', '2020-05-01 00:00:00', '2020-07-30 00:00:00', '2020-05-06 00:00:00', '2020-06-05 00:00:00', '2020-07-05 00:00:00', '2020-08-04 00:00:00', '2020-09-03 00:00:00', '2020-10-03 00:00:00', '2020-05-05 00:00:00']
temp1=[]
for i in transaction_start_date:
    temp1.append(datetime.strptime(i, '%Y-%m-%d %H:%M:%S'))
transaction_start_date=temp1
amt = [24.9, 24.9, 9.9, 9.9, 9.9, 9.9, 9.9, 9.9, 24.9, 24.9, 9.9, 9.9, 9.9, 109.9, 109.9, 9.9, 9.9, 24.9, 24.9, 24.9, 109.9, 9.9, 9.9, 9.9, 9.9, 9.9, 109.9, 24.9, 24.9, 24.9, 24.9, 24.9, 109.9, 109.9, 24.9, 24.9, 24.9, 109.9, 9.9, 9.9, 9.9, 9.9, 9.9, 9.9, 9.9, 9.9, 24.9, 9.9, 9.9, 24.9, 24.9, 24.9, 9.9, 9.9, 9.9, 9.9, 109.9, 109.9, 24.9, 9.9, 9.9, 9.9, 9.9, 9.9, 9.9, 9.9, 9.9, 24.9, 24.9, 24.9, 24.9, 9.9, 9.9, 9.9, 24.9, 24.9, 24.9, 24.9, 24.9, 24.9, 9.9, 9.9, 9.9, 9.9, 9.9, 24.9, 24.9, 24.9, 109.9, 24.9, 109.9, 24.9, 24.9, 9.9, 9.9, 9.9, 9.9, 9.9, 9.9, 109.9]
df2=pd.DataFrame({'transaction_id':transaction_id,'signup_id':signup_id,'transaction_start_date':transaction_start_date,'amt':amt})

    signup_id signup_start_date signup_stop_date  plan_id        location
0         100        2020-04-23       2020-05-19       11  Rio De Janeiro
1         101        2020-04-09       2020-07-06       11     Mexico City
2         102        2020-04-21       2020-10-08       10         Mendoza
3         103        2020-04-04       2020-06-19       11  Rio De Janeiro
4         104        2020-04-24       2020-06-28       21       Las Vegas
5         105        2020-04-14       2020-07-15       20  Rio De Janeiro
6         106        2020-04-10       2020-07-29       22     Mexico City
7         107        2020-04-07       2020-08-26       12     Mexico City
8         108        2020-04-21       2020-05-31       10      New Jersey
9         109        2020-04-11       2020-09-17       21         Mendoza
10        110        2020-04-15       2020-05-08       11         Houston
11        111        2020-04-04       2020-09-03       12      New Jersey
12        112        2020-04-15       2020-08-31       20        New York
13        113        2020-04-22       2020-06-29       22       Las Vegas
14        114        2020-04-20       2020-06-21       11         Houston
15        115        2020-04-28       2020-09-25       21      Luxembourg
16        116        2020-04-17       2020-09-26       11       Las Vegas
17        117        2020-04-22       2020-06-30       22      New Jersey
18        118        2020-04-04       2020-05-28       12  Rio De Janeiro
19        119        2020-04-21       2020-08-13       11        New York
20        120        2020-04-10       2020-05-16       11      Luxembourg
21        121        2020-04-22       2020-08-13       22     Mexico City
22        122        2020-04-13       2020-06-12       20         Houston
23        123        2020-04-13       2020-10-09       10      Luxembourg
24        124        2020-04-18       2020-06-03       11        New York
25        125        2020-04-16       2020-06-15       10       Las Vegas
26        126        2020-04-21       2020-07-25       21  Rio De Janeiro
27        127        2020-04-24       2020-09-22       21         Mendoza
28        128        2020-04-27       2020-08-03       20         Houston
29        129        2020-04-04       2020-04-30       12         Mendoza
30        130        2020-04-07       2020-08-14       22     Mexico City
31        131        2020-04-22       2020-06-22       11         Mendoza
32        132        2020-04-06       2020-09-19       10       Las Vegas
33        133        2020-04-15       2020-06-13       20         Houston
34        134        2020-04-29       2020-05-28       21        New York
35        135        2020-04-18       2020-10-04       21      New Jersey
36        136        2020-04-28       2020-06-22       11       Las Vegas
37        137        2020-04-15       2020-07-13       20       Las Vegas
38        138        2020-04-24       2020-10-02       11      New Jersey
39        139        2020-04-28       2020-10-06       21         Houston
40        140        2020-04-17       2020-09-10       11         Houston
41        141        2020-04-27       2020-09-29       10      New Jersey
42        142        2020-04-09       2020-06-24       11      Luxembourg
43        143        2020-04-29       2020-10-16       21        New York
44        144        2020-04-13       2020-06-21       12       Las Vegas
45        145        2020-04-29       2020-07-15       11      Luxembourg
46        146        2020-04-25       2020-06-21       12         Houston
47        147        2020-04-24       2020-08-18       21       Las Vegas
48        148        2020-04-29       2020-10-07       20     Mexico City
49        149        2020-04-28       2020-09-23       12  Rio De Janeiro

In [73]:
#add a duration column to df1
dur=[]
for i in range(len(df1)):
    dur.append((df1['signup_stop_date'][i]-df1['signup_start_date'][i]).days)
res_avg_dur={}
for i in range(len(df1)):
    row=df1.iloc[i]
    if row.location not in res_avg_dur:
        res_avg_dur[row.location]=[]
    res_avg_dur[row.location].append(dur[i])
for i in res_avg_dur:
    res_avg_dur[i]=sum(res_avg_dur[i])/len(res_avg_dur[i])

{'Rio De Janeiro': 81.83333333333333,
 'Mexico City': 123.66666666666667,
 'Mendoza': 113.4,
 'Las Vegas': 94.44444444444444,
 'New Jersey': 124.33333333333333,
 'Houston': 83.25,
 'New York': 99.4,
 'Luxembourg': 103.6}

In [74]:
df3=pd.merge(df1,df2,on='signup_id',how='left')

res={}
for i in range(len(df3)):
    row=df3.iloc[i]
    if row.location not in res:
        res[row.location]={'duration':[],'amt':[]}
    res[row.location]['duration'].append((row.signup_stop_date-row.signup_start_date).days)
    res[row.location]['amt'].append(row.amt)
locations=[]
avg_amounts=[]
avg_durations=[]
ratio=[]
for i in res:
    
    
    avg_amt=sum(res[i]['amt'])/len(res[i]['amt'])
    locations.append(i)
    avg_amounts.append(avg_amt)
    avg_durations.append(res_avg_dur[i])
    ratio.append(avg_amt/res_avg_dur[i])

df4=pd.DataFrame({'location':locations,'mean_duration':avg_durations,'mean_revenue':avg_amounts,'ratio':ratio})
df4

         location  mean_duration  mean_revenue     ratio
0  Rio De Janeiro      81.833333     40.525000  0.495214
1     Mexico City     123.666667     47.627273  0.385126
2         Mendoza     113.400000     24.483333  0.215902
3       Las Vegas      94.444444     25.163158  0.266433
4      New Jersey     124.333333     29.900000  0.240483
5         Houston      83.250000     22.566667  0.271071
6        New York      99.400000     18.081818  0.181910
7      Luxembourg     103.600000     16.718182  0.161372