In [2]:
import pandas as pd
from datetime import datetime
user_id1 = [18, 25, 78, 37, 41, 99, 21, 18, 37, 58, 32, 24, 58, 8, 18, 18, 50, 82, 52, 78, 21, 4, 18, 89, 46, 32, 41, 8, 24, 56, 18, 56, 34, 27, 33, 78, 58, 82, 89, 46, 8, 9, 89, 87, 37, 95, 41, 82, 32, 99, 27, 52, 32, 56, 78, 33, 33, 32, 32, 89, 89, 52, 78, 32, 4, 99, 87, 34, 34, 32, 25, 89, 58, 46, 9, 9, 78, 46, 95, 95, 25, 87, 89, 25, 34, 27, 8, 37, 50, 18, 82, 21, 37, 33, 50, 32, 4, 22, 31, 22, 31, 22, 31, 22, 31, 16, 5, 7, 11, 61, 16, 5, 7, 11, 61, 11, 16, 5, 7, 11, 61]
# created_at = [Timestamp('2019-12-29 00:00:00'), Timestamp('2019-12-21 00:00:00'), Timestamp('2020-01-04 00:00:00'), Timestamp('2020-02-01 00:00:00'), Timestamp('2019-12-23 00:00:00'), Timestamp('2020-02-02 00:00:00'), Timestamp('2019-12-28 00:00:00'), Timestamp('2020-01-31 00:00:00'), Timestamp('2020-02-11 00:00:00'), Timestamp('2020-01-26 00:00:00'), Timestamp('2020-01-10 00:00:00'), Timestamp('2020-02-03 00:00:00'), Timestamp('2020-01-04 00:00:00'), Timestamp('2020-02-10 00:00:00'), Timestamp('2019-12-17 00:00:00'), Timestamp('2019-12-30 00:00:00'), Timestamp('2020-01-31 00:00:00'), Timestamp('2019-12-22 00:00:00'), Timestamp('2019-12-31 00:00:00'), Timestamp('2020-02-10 00:00:00'), Timestamp('2020-01-08 00:00:00'), Timestamp('2019-12-22 00:00:00'), Timestamp('2020-01-02 00:00:00'), Timestamp('2019-12-25 00:00:00'), Timestamp('2020-01-23 00:00:00'), Timestamp('2020-01-17 00:00:00'), Timestamp('2020-01-03 00:00:00'), Timestamp('2020-02-05 00:00:00'), Timestamp('2019-12-29 00:00:00'), Timestamp('2019-12-25 00:00:00'), Timestamp('2020-02-03 00:00:00'), Timestamp('2019-12-21 00:00:00'), Timestamp('2020-01-08 00:00:00'), Timestamp('2020-01-10 00:00:00'), Timestamp('2020-01-22 00:00:00'), Timestamp('2020-01-07 00:00:00'), Timestamp('2020-02-02 00:00:00'), Timestamp('2019-12-30 00:00:00'), Timestamp('2020-01-28 00:00:00'), Timestamp('2019-12-23 00:00:00'), Timestamp('2020-01-13 00:00:00'), Timestamp('2020-02-02 00:00:00'), Timestamp('2020-01-07 00:00:00'), Timestamp('2020-01-08 00:00:00'), Timestamp('2019-12-15 00:00:00'), Timestamp('2020-02-10 00:00:00'), Timestamp('2019-12-27 00:00:00'), Timestamp('2020-01-16 00:00:00'), Timestamp('2020-01-13 00:00:00'), Timestamp('2020-01-05 00:00:00'), Timestamp('2020-01-25 00:00:00'), Timestamp('2020-01-01 00:00:00'), Timestamp('2020-01-06 00:00:00'), Timestamp('2019-12-19 00:00:00'), Timestamp('2019-12-30 00:00:00'), Timestamp('2020-01-28 00:00:00'), Timestamp('2019-12-21 00:00:00'), Timestamp('2020-01-04 00:00:00'), Timestamp('2019-12-21 00:00:00'), Timestamp('2020-01-16 00:00:00'), Timestamp('2019-12-21 00:00:00'), Timestamp('2019-12-20 00:00:00'), Timestamp('2020-02-15 00:00:00'), Timestamp('2019-12-23 00:00:00'), Timestamp('2020-02-15 00:00:00'), Timestamp('2020-02-03 00:00:00'), Timestamp('2020-02-15 00:00:00'), Timestamp('2020-01-15 00:00:00'), Timestamp('2020-01-29 00:00:00'), Timestamp('2019-12-18 00:00:00'), Timestamp('2020-02-14 00:00:00'), Timestamp('2020-01-05 00:00:00'), Timestamp('2020-01-05 00:00:00'), Timestamp('2020-01-29 00:00:00'), Timestamp('2020-01-21 00:00:00'), Timestamp('2020-01-06 00:00:00'), Timestamp('2019-12-25 00:00:00'), Timestamp('2019-12-29 00:00:00'), Timestamp('2020-01-10 00:00:00'), Timestamp('2020-01-17 00:00:00'), Timestamp('2020-01-15 00:00:00'), Timestamp('2019-12-25 00:00:00'), Timestamp('2020-02-12 00:00:00'), Timestamp('2020-01-20 00:00:00'), Timestamp('2019-12-27 00:00:00'), Timestamp('2019-12-21 00:00:00'), Timestamp('2020-01-22 00:00:00'), Timestamp('2020-01-19 00:00:00'), Timestamp('2020-01-21 00:00:00'), Timestamp('2019-12-27 00:00:00'), Timestamp('2020-01-23 00:00:00'), Timestamp('2019-12-24 00:00:00'), Timestamp('2019-12-17 00:00:00'), Timestamp('2019-12-31 00:00:00'), Timestamp('2020-01-28 00:00:00'), Timestamp('2019-12-19 00:00:00'), Timestamp('2020-01-01 00:00:00'), Timestamp('2020-02-15 00:00:00'), Timestamp('2020-01-28 00:00:00'), Timestamp('2020-04-04 00:00:00'), Timestamp('2020-01-03 00:00:00'), Timestamp('2019-12-19 00:00:00'), Timestamp('2020-02-15 00:00:00'), Timestamp('2019-12-01 00:00:00'), Timestamp('2020-04-04 00:00:00'), Timestamp('2019-12-27 00:00:00'), Timestamp('2020-01-23 00:00:00'), Timestamp('2019-12-24 00:00:00'), Timestamp('2019-12-17 00:00:00'), Timestamp('2019-12-31 00:00:00'), Timestamp('2020-01-28 00:00:00'), Timestamp('2019-12-19 00:00:00'), Timestamp('2020-01-01 00:00:00'), Timestamp('2020-02-15 00:00:00'), Timestamp('2020-01-28 00:00:00'), Timestamp('2020-04-04 00:00:00'), Timestamp('2020-01-03 00:00:00'), Timestamp('2019-12-19 00:00:00'), Timestamp('2020-02-15 00:00:00'), Timestamp('2019-12-01 00:00:00'), Timestamp('2020-04-04 00:00:00')]
number_of_comments = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
user_id2 = [33, 27, 18, 50, 16, 25, 34, 52, 11, 37, 32, 61, 4, 82, 87, 78, 5, 56, 21, 89, 7, 22, 31]
name = ['Amanda Leon', 'Jessica Farrell', 'Wanda Ramirez', 'Samuel Miller', 'Jacob York', 'Natasha Bradford', 'Donald Ross', 'Michelle Jimenez', 'Theresa John', 'Michael Turner', 'Catherine Hurst', 'Tina Turner', 'Ashley Sparks', 'Jacob York', 'David Taylor', 'Zachary Anderson', 'Tiger Leon', 'Theresa Weaver', 'Tonya Johnson', 'Kyle Curry', 'Donald Jim', 'Michael Bone', 'Sara Michaels']
status = ['open', 'open', 'open', 'closed', 'open', 'closed', 'closed', 'open', 'open', 'closed', 'closed', 'open', 'open', 'closed', 'closed', 'open', 'closed', 'closed', 'closed', 'closed', 'open', 'open', 'open']
country = ['Australia', 'Luxembourg', 'USA', 'Brazil', 'Australia', 'USA', 'China', 'USA', 'China', 'Australia', 'Mali', 'Luxembourg', 'China', 'USA', 'USA', 'China', 'China', 'Brazil', 'Mali', 'Mali', 'USA', 'Canada', 'Denmark']
temp_created_at = ['2019-12-29 00:00:00', '2019-12-21 00:00:00', '2020-01-04 00:00:00', '2020-02-01 00:00:00', '2019-12-23 00:00:00', '2020-02-02 00:00:00', '2019-12-28 00:00:00', '2020-01-31 00:00:00', '2020-02-11 00:00:00', '2020-01-26 00:00:00', '2020-01-10 00:00:00', '2020-02-03 00:00:00', '2020-01-04 00:00:00', '2020-02-10 00:00:00', '2019-12-17 00:00:00', '2019-12-30 00:00:00', '2020-01-31 00:00:00', '2019-12-22 00:00:00', '2019-12-31 00:00:00', '2020-02-10 00:00:00', '2020-01-08 00:00:00', '2019-12-22 00:00:00', '2020-01-02 00:00:00', '2019-12-25 00:00:00', '2020-01-23 00:00:00', '2020-01-17 00:00:00', '2020-01-03 00:00:00', '2020-02-05 00:00:00', '2019-12-29 00:00:00', '2019-12-25 00:00:00', '2020-02-03 00:00:00', '2019-12-21 00:00:00', '2020-01-08 00:00:00', '2020-01-10 00:00:00', '2020-01-22 00:00:00', '2020-01-07 00:00:00', '2020-02-02 00:00:00', '2019-12-30 00:00:00', '2020-01-28 00:00:00', '2019-12-23 00:00:00', '2020-01-13 00:00:00', '2020-02-02 00:00:00', '2020-01-07 00:00:00', '2020-01-08 00:00:00', '2019-12-15 00:00:00', '2020-02-10 00:00:00', '2019-12-27 00:00:00', '2020-01-16 00:00:00', '2020-01-13 00:00:00', '2020-01-05 00:00:00', '2020-01-25 00:00:00', '2020-01-01 00:00:00', '2020-01-06 00:00:00', '2019-12-19 00:00:00', '2019-12-30 00:00:00', '2020-01-28 00:00:00', '2019-12-21 00:00:00', '2020-01-04 00:00:00', '2019-12-21 00:00:00', '2020-01-16 00:00:00', '2019-12-21 00:00:00', '2019-12-20 00:00:00', '2020-02-15 00:00:00', '2019-12-23 00:00:00', '2020-02-15 00:00:00', '2020-02-03 00:00:00', '2020-02-15 00:00:00', '2020-01-15 00:00:00', '2020-01-29 00:00:00', '2019-12-18 00:00:00', '2020-02-14 00:00:00', '2020-01-05 00:00:00', '2020-01-05 00:00:00', '2020-01-29 00:00:00', '2020-01-21 00:00:00', '2020-01-06 00:00:00', '2019-12-25 00:00:00', '2019-12-29 00:00:00', '2020-01-10 00:00:00', '2020-01-17 00:00:00', '2020-01-15 00:00:00', '2019-12-25 00:00:00', '2020-02-12 00:00:00', '2020-01-20 00:00:00', '2019-12-27 00:00:00', '2019-12-21 00:00:00', '2020-01-22 00:00:00', '2020-01-19 00:00:00', '2020-01-21 00:00:00', '2019-12-27 00:00:00', '2020-01-23 00:00:00', '2019-12-24 00:00:00', '2019-12-17 00:00:00', '2019-12-31 00:00:00', '2020-01-28 00:00:00', '2019-12-19 00:00:00', '2020-01-01 00:00:00', '2020-02-15 00:00:00', '2020-01-28 00:00:00', '2020-04-04 00:00:00', '2020-01-03 00:00:00', '2019-12-19 00:00:00', '2020-02-15 00:00:00', '2019-12-01 00:00:00', '2020-04-04 00:00:00', '2019-12-27 00:00:00', '2020-01-23 00:00:00', '2019-12-24 00:00:00', '2019-12-17 00:00:00', '2019-12-31 00:00:00', '2020-01-28 00:00:00', '2019-12-19 00:00:00', '2020-01-01 00:00:00', '2020-02-15 00:00:00', '2020-01-28 00:00:00', '2020-04-04 00:00:00', '2020-01-03 00:00:00', '2019-12-19 00:00:00', '2020-02-15 00:00:00', '2019-12-01 00:00:00', '2020-04-04 00:00:00']
created_at=[]
for i in temp_created_at:
    s=i.split(' ')
    s=s[0].split('-')
    d=datetime(int(s[0]),int(s[1]),int(s[2]))
    created_at.append(d)
    
df1=pd.DataFrame({'user_id':user_id1,'created_at':created_at,'number_of_comments':number_of_comments})
df2=pd.DataFrame({'user_id':user_id2,'name':name,'status':status,'country':country})
df3=pd.merge(df1,df2,on='user_id')
df3

    user_id created_at  number_of_comments           name status     country
0        18 2019-12-29                   1  Wanda Ramirez   open         USA
1        18 2020-01-31                   1  Wanda Ramirez   open         USA
2        18 2019-12-17                   1  Wanda Ramirez   open         USA
3        18 2019-12-30                   1  Wanda Ramirez   open         USA
4        18 2020-01-02                   1  Wanda Ramirez   open         USA
..      ...        ...                 ...            ...    ...         ...
90       11 2020-04-04                   1   Theresa John   open       China
91       11 2019-12-01                   1   Theresa John   open       China
92       61 2019-12-31                   1    Tina Turner   open  Luxembourg
93       61 2020-01-28                   1    Tina Turner   open  Luxembourg
94       61 2020-04-04                   1    Tina Turner   open  Luxembourg

[95 rows x 6 columns]

In [14]:
res={}
for i in range(len(df3)):
    row=df3.iloc[i]
    if row.country not in res:
        res[row.country]={12:0,1:0}
    if row.created_at.year==2019 and row.created_at.month==12:
        res[row.country][12]+=1
    elif row.created_at.year==2020 and row.created_at.month==1:
        res[row.country][1]+=1
countries=[]
for c in res:
    if res[c][1]>res[c][12]and res[c][12]>0:
        countries.append(c)
df_res=pd.DataFrame(countries,columns=['country'])
res

{'USA': {12: 11, 1: 9},
 'China': {12: 8, 1: 7},
 'Australia': {12: 5, 1: 5},
 'Mali': {12: 8, 1: 10},
 'Brazil': {12: 3, 1: 3},
 'Luxembourg': {12: 2, 1: 3},
 'Canada': {12: 2, 1: 0},
 'Denmark': {12: 0, 1: 2}}